@using System.Activities.Expressions
@if (@Session["User"] != null)
{
    <text>
        @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
                <p>Logget på som: </p>
                <p>@Html.ActionLink(@Session["User"].ToString(), "Index", "Account")</p>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log af</a>
        }
    </text>
}
else
{
        @Html.ActionLink(" Logind", "Index", "Account", null, new { @class = "glyphicon glyphicon-user" })
}
